################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EcommerceMVC/Views/HangHoa/Search.cshtml
